.homeContainer {
    margin-top: 20px;
    padding: 40px;
}

.sectionTitle {
    font-size: 24px;
    margin-bottom: 30px;
    text-align: center;
}

.moviesList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.movieCard {
    border: 1px solid #ccc;
    padding: 10px;
    transition: transform 0.2s;
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 600px;
}

.movieCard:hover {
    transform: scale(1.05);
    z-index: 2;
}

.movieCard:hover .movieOverview {
    -webkit-line-clamp: unset;
    /* position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px; */
}

.movieCard:hover .movieInfo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 10px;
}

.moviePoster {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movieInfo {
    margin-top: 10px;
}

.movieTitle {
    font-size: 18px;
    margin-bottom: 5px;
}

.movieOverview {
    transition: 0.1s;
    font-style: italic;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: clip;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.releaseDate,
.voteAverage {
    margin-bottom: 5px;
}

.isLoading {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}